.app {
  background-image: url("./assets//images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  display: flex;
  height: 70vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding-block: var(--space-l);
  width: 27%;
  border-radius: 15px;
}

.section {
  display: flex;
  gap: var(--space-sm);
  margin-left: 18%;
}

.num {
  width: var(--space-l);
  height: var(--space-l);
  border-radius: 100vmax;
  display: grid;
  place-items: center;
  line-height: 0;
  color: hsl(var(--neutral1));
  background-color: transparent;
  border: 1px solid hsl(var(--neutral1));
}

.num.active {
  background-color: hsl(var(--light));
  color: hsl(var(--dark));
  border-color: hsl(var(--light));
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.stepNum {
  color: rgb(189, 186, 186);

}

.step {
  text-transform: uppercase;
  color: white;
}

.form {
  background-color: hsl(var(--neutral1));
  padding: 20px;
  border-radius: 1rem;
  display: grid;
  gap: var(--space-m);
  box-shadow: 0 2px 15px hsl(var(--neutral4));
  width: 60%;
  margin: auto;
  margin-top: 5%;

}

.steps {
  display: flex;
  justify-content: space-between;
  background-color: hsl(var(--neutral1));
  padding: var(--space-s);
  width: 40%;
  margin-left: 60%;
}

.steps:has(:only-child) {
  justify-content: flex-end;
  margin-top: -10%;
}

@media only screen and (max-width: 600px) {
  .app {
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw;
    display: grid;
    place-items: center;
  }
  
  .sidebar {
    display: flex;
    gap: var(--space-s);
    align-items: center;
    justify-content: center;
    padding-block: var(--space-l);
  }
  
  .section {
    display: flex;
    gap: var(--space-sm);
  }
  
  .num {
    width: var(--space-l);
    height: var(--space-l);
    border-radius: 100vmax;
    display: grid;
    place-items: center;
    line-height: 0;
    color: hsl(var(--neutral1));
    background-color: transparent;
    border: 1px solid hsl(var(--neutral1));
  }
  
  .num.active {
    background-color: hsl(var(--light));
    color: hsl(var(--dark));
    border-color: hsl(var(--light));
  }
  
  .info {
    display: none;
  }
  
  .stepNum {
  
  }
  
  .step {
  
  }
  
  .form {
    background-color: hsl(var(--neutral1));
    padding: var(--space-l) var(--space-m);
    margin-inline: var(--space-m);
    border-radius: 1rem;
    display: grid;
    gap: var(--space-m);
    box-shadow: 0 2px 15px hsl(var(--neutral4));
    margin-top: 50%;
    height: 50%;
  }
  
  .steps {
    position: fixed;
    inset: 0;
    top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(var(--neutral1));
    padding: var(--space-s);
  }
  
  .steps:has(:only-child) {
    justify-content: flex-end;
  }
}